@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] ="Generic";
}

<div class="container-fluid vw-100 vh-100 d-flex align-items-center" style="background-color: #b3ecff;">
        <div class="row d-flex align-items-center col-12">
            <div class="col-12 d-flex justify-content-center">
                <img src="~/images/logos/pizzashop_logo.png" width="70px" alt="">
                    <span class="ms-2 fs-1 fw-bold text-primary">PIZZASHOP</span>
            </div>
            <div class="col-12 text-primary d-flex justify-content-center" style="font-size: 200px;">
                Error
            </div>
            <div class="col-12 d-flex justify-content-center" style="font-size: 30px;">
                Something went wrong 
            </div>
            <div class="col-12 d-flex justify-content-center text-primary mt-4">
                Oops, Please Try Again later!
            </div>
        </div>
    </div>