@using DAL.ViewModels;
@* @model OrderAppTableViewModel; *@

@{
    Layout = "~/Views/Shared/_OrderAppLayout.cshtml";
}

<div class="d-md-flex  justify-content-md-between justify-content-start">
    <div class="fs-2 fw-bold text-primary mb-3 text-nowrap">Table View</div>
    <div class="d-flex align-items-center mb-3">
        <div class="d-sm-flex gap-1 ">
            <div class="d-flex align-items-center justify-content-center gap-1  me-2">
                <div class="rounded-circle bg-secondary" style="width: 10px; height: 10px;">
                </div>
                Available
            </div>
            <div class="d-flex align-items-center justify-content-center gap-1 me-2">
                <div class="rounded-circle border border-1  border-success bg-light" style="width: 10px; height: 10px;">
                </div>Selected
            </div>
        </div>
        <div class="d-sm-flex gap-1">
            <div class="d-flex align-items-center justify-content-center gap-1 me-2">
                <div class="rounded-circle bg-success" style="width: 10px; height: 10px;">
                </div>
                Assigned
            </div>
            <div class="d-flex align-items-center justify-content-center gap-1 me-2">
                <div class="rounded-circle bg-info" style="width: 10px; height: 10px;"></div>
                Running
            </div>
        </div>
    </div>
</div>


<!------------ aaccodians -------------->

<div class="accordion " id="accordianmain">

</div>






@section scripts {
    <script>

      
        function getSectionList(){
            $.ajax({
                url:"/OrderAppTable/GetsectionList",
                type:"GET",
                success: function(data){
                    @* console.log(data); *@
                    $("#accordianmain").html(data);
                }
            })
        }

        function ViewTableDetailsBySection(tag) {
            isexpand = tag.getAttribute("aria-expanded");

            console.log(isexpand);
            var seciddiv = tag.getAttribute("aria-controls");
            var SectionId = parseInt(seciddiv.split("-")[1])
            @* console.log(SectionId) *@
            document.getElementById(`AssignButton-${SectionId}`).setAttribute("disabled","disabled");
            if (isexpand) {
                $.ajax({
                    url: "/OrderAppTable/GetTableDetailsBySection",
                    type: "GET",
                    data: { SectionId },
                    success: function (data) {
                        $(`#TablesToDisplayDiv-${SectionId}`).html(data);
                    }
                })
            }
        }

        $(document).on("submit", "#waitingListFormId", function (e) {
            e.preventDefault();
            let form = $("#waitingListFormId");
            if (form.valid()) {
                let formData = new FormData(this);
                $.ajax({
                    url: "/OrderAppTable/WaitingTokenDetails",
                    type: "Post",
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (res) {
                        if (res.success) {
                            successToaster(res.text);
                        } else {
                            errorToaster(res.text);
                        }
                        $(".btn-close").click();
                    }
                })
            }
        })

        function fillDetailOfModal(tag, secId) {
            console.log(tag.children[1].innerText);
            document.getElementById("sectionName").value = tag.children[1].innerText;
            document.getElementById("sectionId").value = secId;
            document.getElementById("Email").value = "";
            document.getElementById("Name").value = "";
            document.getElementById("mobile").value = "";
            document.getElementById("persons").value = "";
            var classes = document.getElementsByClassName("RemoveValidations");
            for(i=0;i<classes.length;i++){
                classes[i].innerHTML = "";
            }
        }

        function SelectTable(tag) {
            tag.classList.toggle("TableSelected");
            var selectedclassList = document.getElementsByClassName("TableSelected");
            var secid = tag.previousElementSibling.innerText;
            if (selectedclassList.length > 0) {
                document.getElementById(`AssignButton-${secid}`).removeAttribute("disabled")
            }
            if (selectedclassList.length == 0) {
                document.getElementById(`AssignButton-${secid}`).setAttribute("disabled", "disabled")
            }
        }

        function FillOffcanvasDetails(sectionId) {
            console.log(sectionId);
            $.ajax({
                url: "/OrderAppTable/GetWaitingListAndCustomerDetails",
                type: "GET",
                data: { sectionId },
                success: function (data) {
                    @* cosnole.log("done"); *@
                        $("#AssignTableOffcanvas").html(data);
                }
            })
        }

        

        $(document).ready(function(){
            getSectionList();
        })
        

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <partial name="_Toaster" />
}