@using DAL.ViewModels;
@model OrderAppKOTViewModel

@{
    Layout = "~/Views/Shared/_OrderAppLayout.cshtml";
}
    <div class="fs-2 text-primary ps-0 fw-bold">KOT</div>

    <div class="bg-white  mt-2 p-2 pb-0  d-flex justify-content-start align-item-center "
        style=" overflow:auto; scrollbar-width: thin;">
        <div class="allCategory KOTCategorySelect ms-3 me-3  pb-1 fs-5 text-secondary fw-bold  text-wrap-nowrap"
            style="max-width-content=fit;" onclick="categorySelected(this)" data-categoryid="0">All</div>
        @foreach (var item in Model.categoryList)
        {
            <div class="allCategory ms-3 me-3 pb-1 fs-5  fw-bold text-secondary text-wrap-nowrap"
                style="max-width-content=fit;" onclick="categorySelected(this)" data-categoryid="@item.CategoryId">@item.CategoryName</div>
        }
        
    </div>

    <div class="bg-white mt-4 p-2 pb-0  " style=" height:435px;">
        <div class="d-flex flex-column flex-sm-row  justify-content-between align-item-center">
            <div class="heading-category text-primary fs-3 fw-bold ms-2" id="selectedCategoryName">All</div>
            <div>
                <div class="btn btn-primary mt-1 me-2 text-wrap-nowrap" id="inProgressDiv">In Progress</div>
                <div class="btn btn-outline-primary mt-1 me-2 text-wrap-nowrap" id="readyDiv">Ready</div>
                <div class="btn btn-outline-primary mt-1 me-2 " onclick="LeftShift()"> < </div>
                        <div class="btn btn-outline-primary mt-1 me-2" onclick="RightShift()"> > </div>
                </div>
            </div>


            <!-------------------------- cards ----------------------->
            <div class=" p-3 ps-4 d-flex" id="allCardsMainDiv" style="overflow: auto; scrollbar-width: thin;">
                
            </div>
        </div>
    </div>


@section scripts {
    <script>
        var status;
        var categoryId;

        function categorySelected(tag) {
            categoryId = tag.getAttribute("data-categoryid");
            status = document.getElementById("inProgressDiv").classList.contains("btn-primary") ? "InProgress" : "Ready";
            var allclasses = document.getElementsByClassName("allCategory");
            for (var i = 0; i < allclasses.length; i++) {
                @* allclasses[i].classList.remove("text-secondary"); *@
                    allclasses[i].classList.remove("KOTCategorySelect");
            }
            tag.classList.add("KOTCategorySelect");
            document.getElementById("selectedCategoryName").innerText = tag.innerHTML;
            @* document.getElementById("inProgressDiv").classList.remove("btn-outline-primary");
            document.getElementById("inProgressDiv").classList.add("btn-primary");
            document.getElementById("readyDiv").classList.remove("btn-primary");
            document.getElementById("readyDiv").classList.add("btn-outline-primary"); *@
            GetDetailsByCategory(categoryId,status);
        }

        function GetDetailsByCategory(categoryId,status){
             $.ajax({
                url: "/OrderAppKOT/GetDetailsByCategory",
                type: "GET",
                data: { categoryId,status },
                success: function (data) {
                    data+= `<input type="hidden" value="${categoryId}" id="categoryIdSet">`;
                    data+= `<input type="hidden" value="${status}" id="statusSet">`;
                    $("#allCardsMainDiv").html(data);
                },
            })
        }

        function LeftShift(){
            document.getElementById("allCardsMainDiv").scrollLeft -= 300;
        }

        function RightShift(){
            document.getElementById("allCardsMainDiv").scrollLeft += 300;
        }

        $(document).ready(function () {

            categorySelected(document.getElementsByClassName("allCategory")[0]);
            $("#inProgressDiv").click(function () {
                status = "InProgress";
                $(this).removeClass("btn-outline-primary");
                $(this).addClass("btn-primary");
                $("#readyDiv").removeClass("btn-primary");
                $("#readyDiv").addClass("btn-outline-primary");
                GetDetailsByCategory(categoryId,status);
            });

            $("#readyDiv").click(function () {
                status = "Ready";
                $(this).removeClass("btn-outline-primary");
                $(this).addClass("btn-primary");
                $("#inProgressDiv").removeClass("btn-primary");
                $("#inProgressDiv").addClass("btn-outline-primary");
                GetDetailsByCategory(categoryId,status);
            });
        });
    </script>
}
