<div class=" d-flex justify-content-center align-items-center  pb-3">
    <div class="container d-flex flex-column gap-2" style="max-width: 1000px;">
        <!-- Header -->
        <div class="d-flex justify-content-between p-3">
            <h2 class="fw-bold text-heading">Order Details</h2>
            <a asp-action="PaginatedOrdersData" asp-controller="Order">
                <button class="text-heading p-2 rounded border-main btn-outline-primary" >
                    &lt; Back
                </button></a>
        </div>

        <!-- Order Summary -->
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h2 class="fs-5 fw-bold mb-3">Order Summary <span class="status">InProgress</span></h2>
                    </div>
                    <button class="bg-button p-1 px-3 rounded text-white border-0 text-nowrap btn-primary" id="export-order-data">
                        <i class="fa-solid fa-share-from-square "></i> Export
                    </button>
                </div>
                <p><strong>Invoice No. : </strong> #DOM2025000229</p>
                <div class="d-flex gap-3">
                    <span><strong>Paid on:</strong> </span>
                    <span><strong>Placed on:</strong> 20-30-2024 15:12</span>
                    <span><strong>Modified on:</strong> 22-01-2025 11:47</span>
                    <span><strong>Order Duration:</strong> -</span>
                </div>
            </div>
        </div>

        <!-- Customer and Table Details -->
        <div class="row justify-content-center g-2 ">
            <!-- Customer Details -->
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex gap-2 align-items-center mb-3"><i class="bi bi-person-lines-fill"></i>
                            <h3 class="fs-6 fw-bold m-0">Customer Details</h3>
                        </div>
                        <div class="p-2 d-flex flex-column gap-2">
                            <span>Name: ajeet lodhi</span>
                            <span>Phone: 9012439231</span>
                            <span>No of Person: 7</span>
                            <span>Email: mailto:ajeet@yopmail.com</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table Details -->
            <div class="col-md-6">
                <div class="card shadow-sm h-100">
                    <div class="card-body ">
                        <div class="d-flex gap-2 align-items-center mb-3"><img src="../images/icons/dinner-table.svg"
                                width="30px" height="30px">
                            <h3 class="fs-6 fw-bold m-0">Table Details</h3>
                        </div>
                        <div class="p-2 d-flex flex-column gap-2">
                            <span>Table: T3</span>
                            <span>Section: Ground Floor</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order Items -->
        <section class="card shadow-sm order-items-main-div">
            <div class="card-body">
                <h2 class="fs-5 mb-3 fw-bold ">Order Items</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th class="text-end">Price</th>
                                <th class="text-end">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Grilled burger<br><span class="sub-item"> - Tomato</span></td>
                                <td>1</td>
                                <td class="text-end">70.00</td>
                                <td class="text-end">70.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>MARGRITA<br><span class="sub-item"> - test</span></td>
                                <td>2</td>
                                <td class="text-end">120.00</td>
                                <td class="text-end">240.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Grilled burger<br><span class="sub-item"> - Babycorn</span></td>
                                <td>1</td>
                                <td class="text-end">70.00</td>
                                <td class="text-end">70.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Total Section -->
                <div class="d-flex justify-content-end w-100">
                    <div class="d-flex flex-column " style="min-width: 150px;">
                        <div class="d-flex justify-content-between">
                            <span>Subtotal:</span>
                            <span> ₹399.00</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>CGST:</span>
                            <span> ₹47.88</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>SGST:</span>
                            <span> ₹150.00</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>GST:</span>
                            <span> ₹78.88</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Others:</span>
                            <span> ₹19.95</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Total:</span>
                            <span> ₹624.81</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>