@using DAL.ViewModels;
@model OrderAppMenuViewModel
@{
    Layout = "~/Views/Shared/_OrderAppLayout.cshtml";
}
<div class="d-flex m-0" id="maindivsidebar">
    <div class="overlay-category" onclick="toggleSidebarCategory()"></div>
    <div class="bg-white category-toggle-active category-toggle" style="min-height: 887px; width:250px !important;">
        <div class="fs-3 fw-bold   ">
            <div class="ms-3">Category</div>
        </div>
        <div class="text-secondary fw-bold">
            <div class="category orderAppActive favorite-item-class p-1 mt-2" onclick="categySelected(this,-1)">
                <div class="ms-3">Favorite Items </div>
            </div>
            <div class=" category p-1 mt-2" onclick="categySelected(this,0)">
                <div class="ms-3">All</div>
            </div>
            @foreach (var cat in Model.categoryList)
            {
                <div class="category p-1 mt-2" onclick="categySelected(this,@cat.CategoryId)">
                    <div class="ms-3">@cat.CategoryName</div>
                </div>
            }
        </div>


    </div>

    <!-- rightside-->
    @* <div class="col" >
        <div class="btn d-md-none" onclick="toggleSidebarCategory()"><i class="fa-solid fa-bars-staggered"></i></div>
        <div class="d-flex justify-content-center row col-12">
            <div class="col-sm-6 col-12">
                <input type="text" class="m-2 ms-3 p-2 w-75" placeholder="Search">
            </div>
            <div class="col-sm-6 col-12 d-sm-flex ms-sm-0 ms-4 gap-3 justify-content-end align-items-center">
                <div class="row  mb-2 mb-sm-0">
                    &nbsp;
                    <div class="d-flex col-auto w-auto align-items-center justify-content-center gap-1 ">
                        <div class="rounded-circle bg-success" style="width: 10px; height: 10px;">
                        </div>
                        Vegeterian
                    </div>
                    <div class="d-flex col-auto w-auto align-items-center justify-content-center gap-1 ">
                        <div class="rounded-circle bg-danger" style="width: 10px; height: 10px;">
                        </div>
                        Non-Vegeterian
                    </div>
 
                    <div class="d-flex col-auto align-items-center justify-content-center gap-1">
                        <div class="rounded-circle"
                            style="width: 10px; height: 10px; background-color: rgb(228, 148, 0);">
                        </div>
                        Vegan
                    </div>
                </div>
            </div>
        </div>
 
        <div class="col-12 row ms-1 d-flex justify-content-center justify-content-sm-start">
            <div class="col-auto d-flex mt-3">
                <div style="max-width: fit-content; ">
                    <div class="bg-white rounded d-flex justify-content-center align-items-center"
                        style="height: 60px; width: 60px; border-top-left-radius: 0.7rem !important; border-bottom-left-radius: 0.7rem !important;">
                        <img class="rounded-circle" src="~/images/dominos_background.jpg" height="50px" width="50px"
                            alt=""></div>
                </div>
                <div style="height: 60px; width: 200px; border-top-right-radius: 0.7rem !important; border-bottom-right-radius: 0.7rem !important;"
                    class="bg-danger d-flex justify-content-between">
                    <div class="ms-2 py-1 d-flex flex-column justify-content-between">
                        <span>Pizza</span>
                        <span>₹120</span>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <span
                            style="clip-path: polygon(0% 0%, 100% 100%, 100% 0%); height: 30px; width: 30px; border-top-right-radius: 0.7rem; "
                            class="bg-primary"></span>
                        <span><i class="fa-regular fa-heart"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

    <div class="p-3 w-100 ">
        <div class="btn d-md-none" onclick="toggleSidebarCategory()"><i class="fa-solid fa-bars-staggered"></i></div>

        <div class="col  d-flex flex-xl-row flex-column p-2">
            <div class="col-xl-7 col-12 p-2">
                <div class="d-md-flex col-12 flex-xxl-row flex-column  justify-content-between mb-3">
                    <!-- search btn-->
                    <div class="search-button-orders col-12 col-sm-6 ">
                        <input type="text" id="searchbtn" placeholder="Search" class="border-0 rounded  mt-1  p-2 w-100"
                            placeholder="Search" onkeyup="searchItem(this.value)">
                    </div>
                    <!-- icons-->
                    <div
                        class="d-flex  justify-content-start justify-content-xxl-end align-items-center   gap-3 mt-lg-0 mt-3">

                        <div class="d-flex align-items-center justify-content-center col-auto gap-1 text-nowrap">
                            <div class="rounded-circle bg-success" style="width: 10px; height: 10px;">
                            </div>
                            Vegetarian
                        </div>
                        <div class="d-flex align-items-center justify-content-center col-auto gap-1 text-nowrap">
                            <div class="rounded-circle bg-danger" style="width: 10px; height: 10px;">
                            </div>
                            Non-Vegetarian
                        </div>
                        <div class="d-flex align-items-center justify-content-center col-auto gap-1 text-nowrap">
                            <div class="rounded-circle bg-warning" style="width: 10px; height: 10px;">
                            </div>
                            Vegan
                        </div>

                    </div>

                </div>
                <div class="ItemCards  d-flex flex-wrap justify-content-center justify-content-sm-start gap-3 "
                    id="ItemCards">

                    <!-- cards-->
                </div>

            </div>

            <div class="col-xl-5 col-12  bg-white  p-2 mt-3" id="OrderDetailsWithTablePartial">
                @await Html.PartialAsync("_MenuItemsWithOrderDetails")
            </div>
        </div>
    </div>


</div>

@section scripts {
    <script>
        var categoryID;
        function toggleSidebarCategory() {
            document.getElementsByClassName("overlay-category")[0].classList.toggle("overlay-category-active");
            document.getElementsByClassName("category-toggle")[0].classList.toggle("category-toggle-active")
            document.getElementsByClassName("category-toggle")[0].classList.toggle("category-toggle-position")
        }

        function categySelected(tag, categoryId) {
            categoryID = categoryId;
            var categoryclasses = document.getElementsByClassName("category");
            for (i = 0; i < categoryclasses.length; i++) {
                categoryclasses[i].classList.remove("orderAppActive");
            }
            tag.classList.add("orderAppActive");
            console.log(categoryId);

            $.ajax({
                url: "/OrderAppMenu/GetItemByCategory",
                type: "GET",
                data: { categoryId },
                success: function (data) {
                    $("#ItemCards").html(data);
                }
            })
        }

        function searchItem(searchText) {
            console.log(searchText);
            $.ajax({
                url: "/OrderAppMenu/GetItemByCategory",
                type: "GET",
                data: { searchText, categoryID },
                success: function (data) {
                    $("#ItemCards").html(data);
                }
            })
        }

        function FavouriteItemManage(event, tag) {
            event.stopPropagation();
            var itemId = tag.getAttribute("data-itemId");
            console.log(itemId);
            var classes = tag.classList;
            console.log(classes)
            $.ajax({
                url: "/OrderAppMenu/FavouriteItemManage",
                type: "POST",
                data: { itemId, IsFavourite: classes.contains("fa-regular") ? true : false },
                success: function (res) {
                    if (res.success) {
                        successToaster(res.text);
                    } else {
                        errorToaster(res.text);
                    }
                }
            })
            if (categoryID == -1) {
                setTimeout(() => {
                    $(".favorite-item-class").click();
                }, 100)
            } else {
                classes.toggle("fa-regular");
                classes.toggle("fa-solid");
                classes.toggle("text-primary");
            }
        }



        $(document).ready(function (x) {
            var maindivsidebar = document.getElementById("maindivsidebar")

            maindivsidebar.parentElement.classList.remove("pb-3")
            maindivsidebar.parentElement.classList.remove("ps-lg-5")
            maindivsidebar.parentElement.classList.remove("pt-3")
            maindivsidebar.parentElement.classList.remove("ps-md-4")
            maindivsidebar.parentElement.classList.remove("pe-md-4")
            maindivsidebar.parentElement.classList.remove("pe-lg-5")
            maindivsidebar.parentElement.classList.add("p-0")

            categySelected(document.getElementsByClassName("category")[0], -1);

        })
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <partial name="_Toaster" />
}